<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BigDeal Email Template</title>
  </head>
  <body>
    <h3>
      Welcome to the user
      <b>{{ name }}</b>
      you have created the user on
      <b>{{ date }}</b>
      <br/>
      <p>
        Please set your password then you login
        <p><a href="{{liveUrl}}/{{text}}">Click here </a></p>
      </p>
    </h3>
  </body>
</html>
